*, *::before, *::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-size: 1rem;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
}
form .form-group + .form-group {
  margin-top: 1rem;
}
form .form-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
form .form-group.form-group-cta {
  justify-content: center;
}
form button {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}
form button.btn-submit {
  border: 1px solid dodgerblue;
  background-color: rgb(79, 158, 237);
}
form button.btn-clear {
  border: 1px solid rgb(110, 112, 114);
  background-color: gray;
}
form input {
  text-transform: uppercase;
}
form input, form select {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  outline: none;
  border: 1px solid #000;
  width: 100%;
}
form select {
  text-transform: capitalize;
}
.list + .list {
  margin-top: 5rem;
}
.list .list-heading,
.list .list-item,
.list .list-item .action-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.list .list-heading,
.list .list-item {
  border: 1px solid #000;
}
ul.list > .list-item:first-child {
  border-top: none;
}
/* .list .list-heading {
  border-bottom: none;
} */
.list .list-heading > *,
.list .list-item > * {
  flex: 1;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
}
.list .list-heading h3 + h3,
.list .list-item > span + span,
.list .list-item .action-cta {
  border-left: 1px solid #000;
  text-transform: capitalize;
}
.list .list-item .action-cta span {
  margin: 0 0.5rem;
}
.list .empty {
  border: 1px solid #000;
  border-top: none;
  text-align: center;
  padding: 1rem;
}
.list button {
  cursor: pointer;
  background: transparent;
  text-decoration: underline;
  border: none;
}
.list--balls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.list--balls li {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #fff;
  text-transform: capitalize;
  font-size: 2rem;
}
section + section {
  margin-top: 5rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}